#center{
    position: absolute;
    top: 50px;
    padding: 20px;
}
#picA{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#tableauhome{
    background-color:#276b92;
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    height: 50px;
    font-family: calibri;
}
#footertableau{
    background-color:#276b92;
    position: auto;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 25px;
    color: white;
    text-align:center;
    Font-family: calibri;
}

#tableauhome ul{
    list-style-type: none;
 }
 #tableauhome a{
    color: azure;
     text-decoration: none;
     font-family:calibri;
    
 }
 #tableauhome li{
    float: right;
        margin-left: 10px;
    margin-right: 10px;
    
 }
.tabsizes{
    width: 70%;
margin: auto;
}
.tableaubackground{
    background-color: rgb(199, 195, 164);
}
.titlegraphics{
    color: #276b92;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: x-large;
}
.explatab{
    color: royalblue;
    font-family: fantasy;
}
.abouttext{
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}